[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest/
[submodule "external/tinyobj"]
	path = external/tinyobj
	url = https://github.com/syoyo/tinyobjloader
